<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= item.title %> </h1>
  <form action="/users/<%=user._id%>/tvshows/<%= item._id%>?_method=PUT" method="POST">
    <label for="title">Edit Title</label>
    <input type="text" name="title" id="title" value="<%=item.title%>" />
    <label for="title">Edit Rating:</label>
    <input type="number" name="rating" id="rating" />
    <button type="submit">Edit Tv Show</button>
    <label for="didYouLoveIt">Did you love it or not?</label>
        <input type="checkbox" name="didYouLoveIt" id="didYouLoveIt" />
  </form>
  <a href="/users/<%=user._id%>/tvshows/">Back to shows</a>
</body>
</html>
<style>
        body {
    background-color: rgb(92, 90, 100);
    color:rgb(26, 22, 29);
}
    h1 {
        color: #2F3C7E;
    }
    form {  
        text-align: center;

    }
</style>