<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Matemasie&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>Users Page in Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Favorites to watch!</h1>
    <div class="backpage"><a href="/users">Back to Community</a></div>

    <% user.showCase.forEach(item => { %>
    <li>
      <%= item.title %>, Review: <%=item.comments%>, Rating #<%= item.rating %>
    </li>
    <% }) %>

    <div class="img1">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1a85lZWPIWYD4XUsbhfWOPUA_-Mvt1k1dLeAoZ2jXs9Ffd92oZEOUPYCI4OZZMEV-FNA&usqp=CAU"
        alt="community page the simpsons"
      />
    </div>
  </body>
</html>
<style>
  body {
    background-color: rgb(37, 36, 36);
  }
  li {
    color: rgb(190, 167, 35);
    font-size: 18px;
    text-align: center;
    padding-top: 2%;
    font-family: "Matemasie", sans-serif;
  }
  h1 {
    color: rgb(190, 167, 35);
    text-align: center;
    text-decoration: underline;
    padding-top: 1%;
    font-family: "Matemasie", sans-serif;
  }
  .img1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 15%;
    height: 250px;
    border-radius: 6px;
  }
  .backpage {
    text-align: center;
  }
  img {
    height: 275px;
  }
  a {
    color: rgb(190, 167, 35);
    font-family: "Matemasie", sans-serif;
    font-size: 18px;
  }
  .matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
